body
{
    margin: 0;
    padding: 0;
    background: #3F5EFB;
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
}

.wrapper
{
    color: blue;
    text-align: center;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    text-decoration: underline blue;
}

.about 
{
    color: yellow;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font: optional;
    font-size: medium;
}
.about p
{
    margin-left: 300px;
    margin-right: 300px;
}

.about a
{
    text-decoration: none;
}
footer{
    color: yellow;
    padding: 70px;
}

.help
{
    color: blue;
    text-align: center;
    text-decoration: double;
}

.forget
{
    color: blue;
    font-size: 20px;
    text-align: center;
    padding: 15px;
}
.my
{
    font-size:25px ;
    color: yellow;
    font-weight: bolder;
    text-align: center;
}